<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Gestor de RRHH</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")


    <style>
        .dropdown:hover > .dropdown-menu {
            display: block;
            /*background-color: #121111;*/
            background: #b6ff00;
            color: #808080;
            cursor: pointer;
            box-shadow: inset 0 0 2 1px #555953;
        }
    </style>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Gestión de RRHH", "Index", "Gestion", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">

                    @*Menu empleados*@
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Funciones<span class="caret"></span></a>
                        <ul class="dropdown-menu" id="submenu">
                            <li> @Html.ActionLink("Registrar Empleado", "Create", "Empleados")</li>
                            <li> @Html.ActionLink("Registrar Salida", "create", "Salida_Empleado")</li>
                            <li> @Html.ActionLink("Registrar Permiso", "create", "Permisos")</li>
                            <li> @Html.ActionLink("Registrar Licencia", "create", "Licencias")</li>
                            <li> @Html.ActionLink("Registrar Vacaciones", "create", "Vacaciones")</li>
                            <li> @Html.ActionLink("Agregar Departamento", "create", "Departamentos")</li>
                            <li> @Html.ActionLink("Agregar Cargo", "create", "Cargos")</li>
                        </ul>
                    </li>

                    @*Menu Servicios*@
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Servicios<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li> @Html.ActionLink("Generar Nomina", "HomeNomina", "Nominas")</li>
                            <li> @Html.ActionLink("Listado Empleados", "Index", "Empleados")</li>

                        </ul>
                    </li>

                    @*Menu *@
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Informes <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li> @Html.ActionLink("Generar Nomina", "HomeNomina", "Nominas")</li>
                            <li> @Html.ActionLink("Empleados Activos", "EmpActivos", "Empleados")</li>
                            <li> @Html.ActionLink("Empleados Inactivos", "EmpInactivos", "Empleados")</li>
                            <li> @Html.ActionLink("Listado Departamentos", "index", "Departamentos")</li>
                            <li> @Html.ActionLink("Listado Cargos", "index", "Cargos")</li>
                            <li> @Html.ActionLink("Entrada Empleados por Mes", "Informe_EntradaMes", "Empleados")</li>
                            <li> @Html.ActionLink("Salida Empleados por Mes", "Informe_Salida_Mes", "Informe")</li>
                            <li> @Html.ActionLink("Listado de Permisos", "index", "Permisos")</li>

                            @*<li role="separator" class="divider"></li>*@

                        </ul>
                    </li>
                    @*<li>@Html.ActionLink("Acerca De", "About", "Gestion")</li>*@
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Sistema Gestor de Recursos Humanos</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
